@model IEnumerable<PIK_Library.Model.ContactUs>

@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viewed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message, new { @class = "overflow-hidden" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Viewed)
        </td>
        <td>
            @Html.ActionLink("View", "ContactViewed", "WorkerDashboard", new { Id = item.IdContact }, new { @class = "btn btn-outline-dark" })
        </td>
    </tr>
}

</table>
