
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <div>
        @Html.ActionLink("Add worker", "AddWorker", "Worker", null, new { @class = "btn btn-outline-dark" })
    </div>
    <div>
        @Html.ActionLink("Manage workers", "ManageWorkers", "WorkerDashboard", null, new { @class = "btn btn-outline-dark" })
    </div>
    <div>
        @Html.ActionLink("Add book", "AddBook", "Book", null, new { @class = "btn btn-outline-dark" })
    </div>
    <div>
        @Html.ActionLink("Manage books", "ManageBooks", "WorkerDashboard", null, new { @class = "btn btn-outline-dark" })
    </div>
    <div>
        @Html.ActionLink("Add author", "AddAuthor", "Author", null, new { @class = "btn btn-outline-dark" })
    </div>
    <div>
        @Html.ActionLink("Return book", "ReturnBooks", "WorkerDashboard", null, new { @class = "btn btn-outline-dark" })
    </div>
    <div>
        @Html.ActionLink("Users", "Users", "WorkerDashboard", null, new { @class = "btn btn-outline-dark" })
    </div>
    <div>
        @Html.ActionLink("Messages", "Contacts", "WorkerDashboard", null, new { @class = "btn btn-outline-dark" })
    </div>
    <div>
        @Html.ActionLink("Bookstore data", "BookstoreData", "WorkerDashboard", null, new { @class = "btn btn-outline-dark" })
    </div>
</div>