@model IEnumerable<PIK_Library.Model.Author>

@{
    ViewBag.Title = "AuthorSearch";
}

<h2>AuthorSearch</h2>

@Html.Label(expression: "author", labelText: "Author:")
@Html.TextBox(name: "author", value: null)
@Html.ActionLink("Book search", "BookSearch", "Search", htmlAttributes: new { @class = "btn btn-outline-dark" })

<h2>Authors</h2>

@Html.Partial("_GetAuthors", Model)


@section scripts{
    <script>

        $("#auhtor").autocomplete({
                source: '@Url.Action(actionName: "GetAutocompleteAuthors", controllerName:"Author")',
                select: function (e, ui) {
                    e.preventDefault();
                    var author = {
                        name: ui.item.label,
                        id: ui.item.value
                    };
                    $(this).val(author.name);
                    showAuhtor(author.id);
                },
                focus: function (e, ui) {
                    e.preventDefault();
                    $(this).val(ui.item.label);
                }
            }
        );

        function showBook(id) {
            window.location.href = '@Url.Action("AuthorDetails", "Auhtor")?id=' + id;
        }

    </script>
}