@model PIK_Library.Model.GetBook

@using (Html.BeginForm("GetBook", "Book", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Book.Price, htmlAttributes: new { @class = "w-100" })
            @Html.DisplayFor(model => model.Book.Price) EUR
        </div>

        <div class="form-group mt-3">
            @Html.LabelFor(model => model.Book.Used, htmlAttributes: new { @class = "control-label col-md-2" })
            @if (Model.Book.Used)
            {
                <input type="checkbox" class="form-check-input" checked disabled />
            }
            else
            {
                <input type="checkbox" class="form-check-input" disabled />
            }
        </div>

        <div class="form-group mt-3">
            @Html.LabelFor(model => model.InStorePayment, htmlAttributes: new { @class = "control-label col-md-2 w-100" })
            <div class="col-md-10">
                <div class="checkbox">
                    <span>Paypal payment</span>
                    <label class="switch">
                        <input type="checkbox" id="InStorePayment" onkeyup="sum();" name="InStorePayment" value="@Model.InStorePayment" />
                        <span class="slider"></span>
                    </label>
                    <span>In store payment</span>
                    @Html.ValidationMessageFor(model => model.InStorePayment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group mt-3">
            @Html.LabelFor(model => model.Delivery, htmlAttributes: new { @class = "control-label col-md-2 w-100" })
            @Html.CheckBoxFor(model => model.Delivery, htmlAttributes: new { @class = "form-check-input" })
            @Html.ValidationMessageFor(model => model.Delivery, "", new { @class = "text-danger" })
        </div>

        <input type="checkbox" checked hidden id="Buy" onkeyup="sum();" name="Buy" value="@Model.Buy" disabled />
        @Html.HiddenFor(model => model.Book.IdBook)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 mt-3">
                <input type="submit" value="Buy" class="btn btn-outline-dark" />
            </div>
        </div>
    </div>
}