@model PIK_Knjizara.Models.ViewModels.GetBookVM

@using (Html.BeginForm("GetBook", "Book", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Book.Price, htmlAttributes: new { @class = "w-100" })
            @Html.DisplayFor(model => model.Book.Price) EUR
        </div>

        <div class="form-group mt-3">
            @Html.LabelFor(model => model.Book.Used, htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="checkbox" class="form-check-input" id="BookUsed" onkeyup="sum();" name="BookUsed" value="@Model.Book.Used" disabled />
        </div>

        <div class="form-group mt-3">
            @Html.LabelFor(model => model.PaymentMethod, htmlAttributes: new { @class = "control-label col-md-2 w-100" })
            <div class="col-md-10">
                <div class="checkbox">
                    <span>In store payment</span>
                    <label class="switch">
                        <input type="checkbox" id="PaymentMethod" onkeyup="sum();" name="PaymentMethod" value="@Model.PaymentMethod" />
                        <span class="slider"></span>
                    </label>
                    <span>Paypal payment</span>
                    @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group mt-3">
            @Html.LabelFor(model => model.Delivery, htmlAttributes: new { @class = "control-label col-md-2 w-100" })
            @Html.CheckBoxFor(model => model.Delivery, htmlAttributes: new { @class = "form-check-input" })
            @Html.ValidationMessageFor(model => model.Delivery, "", new { @class = "text-danger" })
        </div>


        @Html.HiddenFor(model => model.Book.IdBook)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 mt-3">
                <input type="submit" value="Buy" class="btn btn-outline-dark" />
            </div>
        </div>
    </div>
}