@model IEnumerable<PIK_Library.Model.Author>


<div class="d-flex flex-row flex-wrap">

    @foreach (var item in Model)
    {
        <div class="card m-3" style="width: 15rem;">
            <div class="card-body">

                <div class="d-flex flex-row">
                    <div class="w-75">
                        <h4>
                            @Html.DisplayFor(modelItem => item.FirstName)
                            @Html.DisplayFor(modelItem => item.LastName)

                        </h4>
                        <h5>
                            @Html.DisplayFor(modelItem => item.Description, new { @class = "overflow-hidden" })
                        </h5>

                        <p>
                            @Html.DisplayFor(modelItem => item.Biography, new { @class = "overflow-hidden" })
                        </p>

                        <div class="d-flex flex-column-reverse">
                            @Html.ActionLink("Details", "AuthorDetails", "Author", new { Id = item.ID }, new { @class = "btn btn-outline-dark" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>